<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShippingAPIIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ShipmentServiceSoap" />
                <binding name="ShipmentServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws3.pilotdelivers.com/webservice/wsshipmentsdev/Shipment.asmx"
                binding="basicHttpBinding" bindingConfiguration="ShipmentServiceSoap"
                contract="NewSoap.ShipmentServiceSoap" name="ShipmentServiceSoap" />
            <endpoint address="http://ws3.pilotdelivers.com/webservice/wsshipmentsdev/Shipment.asmx"
                binding="basicHttpBinding" bindingConfiguration="ShipmentServiceSoap1"
                contract="PilotShipmentWebService.ShipmentServiceSoap" name="ShipmentServiceSoap1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ShippingAPIIntegration.Properties.Settings>
            <setting name="ShippingAPIIntegration_newrest_ShipmentService"
                serializeAs="String">
                <value>http://ws3.pilotdelivers.com/webservice/wsshipmentsdev/Shipment.asmx</value>
            </setting>
        </ShippingAPIIntegration.Properties.Settings>
    </applicationSettings>
</configuration>