<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShippingPilot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ShippingPilot.Properties.Settings>
            <setting name="ShippingPilot_TestPilotServiceref_ShipmentService"
                serializeAs="String">
                <value>http://ws3.pilotdelivers.com/webservice/wsshipmentsdev/Shipment.asmx</value>
            </setting>
            <setting name="ShippingPilot_CoPilotProd_ShipmentService" serializeAs="String">
                <value>http://ws3.pilotdelivers.com/webservice/wsshipments/Shipment.asmx</value>
            </setting>
        </ShippingPilot.Properties.Settings>
    </applicationSettings>
</configuration>